# python binary
*.pyc

# Editor swaps
*.swp

#Byte-compiled / optimized
*__pycache__*

# distribution
deeprank2.egg-info
deeprank2.egg-info
build/*
dist/*

# datafile
*.db
*.izone
*.lzone
*.ref_pairs

# hdf5 and tar
*.hdf5
*.tar

# test
htmlcov
.coverage
coverage.xml

# doc
docs/_build
docs/apidocs

#pycharm
.idea

#macos
*.DS_store
*.DS_Store

#other
*_.ipynb
Untitled*